


<ion-view>
        <ion-content>

          <div class="list card">

            <div class="item item-avatar">
              <img src="img/storeicon.png">
              <h2>Your Product Name</h2>
              <p>Price</p>
              <p>Store</p>
            </div>

            <div class="item item-image">
              <img src="img/product.jpg">
            </div>

            <a class="item item-icon-left calm" href="#">
              <i class="icon ion-cash"></i>
              Location
            </a>

          </div>

            <button class="button button-outline button-block button-calm" href="#/app/request">Request</button>
                </ion-content>
</ion-view>
