<ion-view view-title="Browse">
<ion-content ng-controller="SearchCntrl">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search"  ng-model="dataname" ng-change="searchme()">
          </label>

          <blockquote style="text-align:center">
            Search Results for:  {{dataname}}
          </blockquote>



          <ion-list
            show-delete="shouldShowDelete"
            show-reorder="shouldShowReorder"
            can-swipe="listCanSwipe" >
              <!--<ion-item ng-repeat="product in data.items" ng-click="details()" ng-model="oi"  href="#/app/productdetails">-->
                <ion-item ng-repeat="product in data.items">

                <img src='{{product.thumbnailImage}}' >
              <a ui-sref="app.productdetails({name:product.name})" ng-click="#/app/request">{{product.name}}</a>
                  <br>

                  ${{product.salePrice}}
              </ion-item>

  </ion-list>

  <ion-content>
</ion-view>
